/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* General */

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
    color: #4F966E;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease-out;
}

a:hover{
    color: #0D1C12;
    transition: all 0.3s ease-out;
}

.btn{
    padding: 15px;
    border-radius: 20px;
    background: #E8F2ED;
}

h1{
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

/* Header */

header{
    border-bottom: 1px solid #80808040;
}

header div{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    flex-wrap: wrap;
}

header form{
    display: flex;
    gap: 20px;
}

header > div > a{
    font-size: 18px;
    font-weight: 700;
    color: #0D1C12;
}

header form input{
    border: none;
    background: #E8F2ED;
    outline: none;
}

header form a:nth-child(1){
    width: 260px;
    margin: auto;
}

header form a:nth-child(2){
    width: 80px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #0D1C12;
}

header form input::placeholder{
    color: #4F966E;
    font-size: 16px;
}

header form a i{
    color: #4F966E;
}

/* Main 1 */

.section1{
    max-width: 1040px;
    margin: auto;
}

.section1 div{
    background-image: url("../img/img-writer-page1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 464px;
    border-radius: 20px;
    margin: 40px 0;
}

.section1 article{
    position: relative;
    top: 50%;
    padding: 0 40px;
}

.section1 article p{
    font-size: 16px;
    color: #fff;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

.btnVert{
    padding: 10px 20px;
    background: #1AE570;
    border-radius: 20px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.section2{
    max-width: 1040px;
    margin: auto;
    padding-bottom: 50px;
}

.section2 h2{
    margin-bottom: 40px;
}

.section2 img{
    border-radius: 10px;
    height: 255px;
    object-fit: cover;
}

.section2 article{
    display: flex;
    margin-bottom: 40px;
}

.section2 article div{
    width: 41%;
    margin: auto 20px;
    line-height: 1.5rem;
}

.section2 h3{
    font-size: 18px;
}

.section2 p{
    color: #4F966E;
    width: 78%;
}

.section2 article a{
    margin: auto 0 25px;
}

/* Section article RV */

.sectionRV{
    max-width: 882px;
    margin: auto;
    text-align: center;
}

.sectionRV article img{
    height: 216px;
    object-fit: cover;
}

/* Footer */

footer{
    max-width: 1440px;
    margin: auto;
}

footer article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 20px;
}

footer p{
    text-align: center;
    color: #4F966E;
    padding: 20px;
}
